# ignore build folders
.gradle
bin
build
target
out

# ignore eclipse project files
.classpath
.project
.settings

# ignore mac specific files
*.DS_Store

# ignore idea project files
.idea
*.iml
*.ipr
*.iws
